body {
    background-color: cadetblue;
    text-align: center;
}

h1, h4 {
    margin-bottom: 20px;
    color:peachpuff
}

button {
    margin: 5px;
    width: 30%;
}

table {
    width: 80%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

th {
    height: 80px;
    width: 100px;
    color: black;
    background-color: black;
}

#tableContainer {
    margin: 5%;
}